@media screen and (max-width: 600px) {
  html {
    font-size: calc(1vw / 6);
  }
  .excursion {
    width: 560rem;
    padding: 20rem;
  }
  section {
    align-items: flex-start;
  }
  section h2 {
    padding-left: 20rem;
  }
}
