* {
  box-sizing: border-box;
}
html {
  font-size: calc(1vw / 14.4);
}
body {
  font-family: 'PT Root UI', Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 38rem;
  line-height: 46rem;
  font-weight: 700;
}
h2 {
  font-size: 32rem;
  line-height: 38rem;
  font-weight: 500;
}
h3 {
  font-size: 24rem;
  line-height: 28rem;
  font-weight: 500;
}
p,
div {
  font-size: 16rem;
  line-height: 20rem;
}
#excursions {
  display: flex;
  flex-direction: column;
  gap: 120rem;
  padding: 20rem;
}
section {
  display: flex;
  flex-direction: column;
  gap: 20rem;
  align-items: center;
}
.excursions {
  display: flex;
  flex-direction: column;
  gap: 20rem;
  align-items: center;
}
.excursion {
  width: 640rem;
  background-color: #eee;
  border-radius: 40rem;
  padding: 30rem;
}
.excursion h3 {
  margin: 20rem 0 10rem;
}
.excursion p {
  margin: 10rem 0;
}
.time {
  background-color: cornflowerblue;
  color: white;
  padding: 4rem 10rem;
  border-radius: 12rem;
  display: inline-block;
}
/* вспоминаем флексбоксы */
/* .parent {
  width: 100%;
  background-color: #eee;
  display: flex;
  justify-content: center;
  padding: 2vw;
  flex-wrap: wrap;
  gap: 10vw 1vw;
  flex-direction: column;
  align-items: center;
}
.child {
  width: 600px;
  height: 20vw;
  background-color: cornflowerblue;
  color: white;
  border-radius: 6vw;
  font-size: 12vw;
  text-align: center;
  padding: 4vw 0;
} */
